<%= form_for [:admin, @article], html: {class: 'ui form'} do |f| %>
  <div class="field four wide">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.label  :article_type_id %>
			<%= f.select :article_type_id,
						ArticleType.all.collect{ |f| [f.name, f.id] },
						{include_blank: false},{class: 'ui dropdown'} %>

      <%= f.label :tag_list %>
      <%= f.text_field :tag_list, placeholder: "输入tags,用'空格'分开" %>
    </div>
    <div class="field">
      <%= f.submit class: 'ui button green'%>
    </div>
  </div>
<% end %>
