<h1>文章列表</h1>
<div class="ui segment">
  <span><b>文章导出：</b>
    <%= link_to "CSV", admin_articles_path(format: "csv"), class: 'ui mini button teal' %> |
    <%= link_to "Excel", admin_articles_path(format: "xls"), class: 'ui mini button teal' %>
  </span>
</div>
<div class="ui two column middle aligned grid">
    <div class="column">
      总共<%=@articles.total_count %>条, 共<%= @articles.total_pages %>页, 当前第<%= @articles.current_page%>页.
    </div>
    <div class="right floated column five wide">

      <%= form_tag '/admin/articles/search', :method => 'get', class: 'ui form' do %>
      <div class="ui input">
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "搜索", :name => nil, class: 'ui button green' %>
      </div>
      <% end %>

    </div>
</div>
<table class="ui table">
  <thead>
    <tr>
      <th>文章ID</th>
      <th>文章标题</th>
      <th>文章内容</th>
      <th style="width:100px;">文章类型</th>
      <th>文章标签</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td>
          <nobr>
            <%= article.title %>
          </nobr>
        </td>
        <td>
          <nobr>
            <%= article.content %>
          </nobr>
        </td>
        <td><%= link_to article.article_type.name, admin_article_type_path(article.article_type_id) %></td>
        <td>
          <% article.tags.each do |tag| %>
            <span class="ui tiny teal label">
              <%= tag.name %>
            </span>
          <% end %>
        </td>
        <td><%= link_to t("action.show"), admin_article_path(article) %></td>
        <td><%= link_to t("action.edit"), edit_admin_article_path(article) %></td>
        <td><%= link_to t("action.delete"), admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @articles %>

<br>

<%= link_to t("action.new"), new_admin_article_path, class: 'ui button green' %>
